---
http_interactions:
- request:
    method: get
    uri: https://api.dnsdb.info/lookup/rrset/name/circl.lu/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DNSDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '454'
      X-Ratelimit-Reset:
      - n/a
      X-Ratelimit-Expires:
      - '1587230628'
    body:
      encoding: ASCII-8BIT
      string: '{"count":25171,"time_first":1575144527,"time_last":1584659159,"rrname":"circl.lu.","rrtype":"A","bailiwick":"circl.lu.","rdata":["149.13.33.14"]}

        '
  recorded_at: Fri, 20 Mar 2020 07:52:52 GMT
recorded_with: VCR 5.1.0
