---
http_interactions:
- request:
    method: get
    uri: https://api.dnsdb.info/lookup/rdata/ip/149.13.33.14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DNSDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '455'
      X-Ratelimit-Reset:
      - n/a
      X-Ratelimit-Expires:
      - '1587230628'
    body:
      encoding: ASCII-8BIT
      string: |
        {"count":33,"time_first":1575364260,"time_last":1584432956,"rrname":"attack-community.eu.","rrtype":"A","rdata":"149.13.33.14"}
        {"count":25171,"time_first":1575144527,"time_last":1584659159,"rrname":"circl.lu.","rrtype":"A","rdata":"149.13.33.14"}
        {"count":8197,"time_first":1575147901,"time_last":1584658770,"rrname":"cpab.circl.lu.","rrtype":"A","rdata":"149.13.33.14"}
        {"count":65,"time_first":1575334163,"time_last":1584462972,"rrname":"circle.lu.","rrtype":"A","rdata":"149.13.33.14"}
        {"count":7,"time_first":1575956745,"time_last":1583272649,"rrname":"www.circle.lu.","rrtyp[...]
