---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/195.123.228.14/resolutions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<VIRUSTOTAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - e25b5cb1ff64af9e75f78d1a97e511e7
    body:
      encoding: UTF-8
      string: |-
        {
            "data": [
                {
                    "attributes": {
                        "date": 1583988969,
                        "host_name": "cunkt.club",
                        "ip_address": "195.123.228.14",
                        "resolver": "VirusTotal"
                    },
                    "id": "195.123.228.14cunkt.club",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/195.123.228.14cunkt.club"
                    },
                    "type": "resolution"
                },
                {
                    "attributes": {
                        "date": 1583790215,
                        "host_name": "cenkt.club",
                        "ip_address": "195.123.228.14",
                        "resolver": "VirusTotal"
                    },
                    "id": "195.123.228.14cenkt.club",
                    "links": {
                        "self": "https://www.virustotal.com/api/v3/resolutions/195.123.228.14cenkt.club"
[...]
