---
http_interactions:
- request:
    method: post
    uri: https://api.securitytrails.com/v1/domains/list
    body:
      encoding: UTF-8
      string: '{"filter":{"ipv4":"195.123.228.14"}}'
    headers:
      Apikey:
      - "<SECURITYTRAILS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "records": [
            {
              "whois": {
                "registrar": null,
                "expiresDate": null,
                "createdDate": null
              },
              "mail_provider": [],
              "hostname": "cunkt.club",
              "host_provider": [
                "ITL LLC"
              ],
              "computed": {
                "company_name": null
              },
              "alexa_rank": null
            }
          ],
          "record_count": 1,
          "meta": {
            "total_pages": 1,
            "query": "ipv4 = '195.123.228.14'",
            "page": 1,
            "max_page": 1
          },
          "endpoint": "/v1/domains/list"
        }
  recorded_at: Sun, 15 Mar 2020 00:01:49 GMT
recorded_with: VCR 5.1.0
