---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/cunkt.club/dns/a?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<SECURITYTRAILS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "a/ipv4",
          "records": [
            {
              "values": [
                {
                  "ip_count": 1,
                  "ip": "195.123.228.14"
                }
              ],
              "type": "a",
              "organizations": [
                "ITL LLC"
              ],
              "last_seen": "2020-03-15",
              "first_seen": "2020-03-12"
            }
          ],
          "pages": 1,
          "endpoint": "/v1/history/cunkt.club/dns/a"
        }
  recorded_at: Sun, 15 Mar 2020 08:13:15 GMT
recorded_with: VCR 5.1.0
