---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/domain/circl.lu/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Otx-Api-Key:
      - "<OTX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"flag_url": "assets/images/us.png", "record_type":
        "A", "last": "2020-07-13T22:00:15+00:00", "flag_title": "United States of
        America", "address": "149.13.33.18", "indicator_link": "/indicator/hostname/cped.circl.lu",
        "hostname": "cped.circl.lu", "asset_type": "hostname", "first": "2020-04-14T13:27:00+00:00"},
        {"flag_url": "assets/images/us.png", "record_type": "NS", "last": "2020-03-11T21:04:22+00:00",
        "flag_title": "United States of America", "address": "ns1.eurodns.com", "indicator_link":
        "/indicator/domain/circl.lu", "hostname": "circl.lu", "asset_type": "domain",
        "first": "2020-02-25T08:20:07+00:00"}, {"flag_url": "assets/images/us.png",
        "record_type": "NS", "last": "2020-03-11T21:04:22+00:00", "flag_title": "United
        St[...]
