---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/149.13.33.14/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Otx-Api-Key:
      - "<OTX_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"flag_url": "assets/images/us.png", "record_type":
        "A", "last": "2020-06-21T00:01:16+00:00", "flag_title": "United States of
        America", "address": "149.13.33.14", "indicator_link": "/indicator/domain/d4-project.org",
        "hostname": "d4-project.org", "asset_type": "domain", "first": "2019-04-14T08:30:30+00:00"},
        {"flag_url": "assets/images/us.png", "record_type": "A", "last": "2019-03-29T04:59:32+00:00",
        "flag_title": "United States of America", "address": "149.13.33.14", "indicator_link":
        "/indicator/hostname/www.circle.lu", "hostname": "www.circle.lu", "asset_type":
        "hostname", "first": "2019-03-29T04:59:32+00:00"}, {"flag_url": "assets/images/us.png",
        "record_type": "A", "last": "2019-02-18T23:00:00+00:00", "flag_title": "United
 [...]
