---
http_interactions:
- request:
    method: get
    uri: https://api.passivetotal.org/v2/dns/passive?query=195.123.228.14&timeout=7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PASSIVETOTAL_AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"pager":null,"queryValue":"195.123.228.14","queryType":"ip","firstSeen":"2018-07-20
        02:21:13","lastSeen":"2020-03-15 01:14:54","totalRecords":32,"results":[{"firstSeen":"2019-06-18
        05:47:45","lastSeen":"2019-09-11 01:19:48","source":["riskiq","virustotal","kaspersky"],"value":"195.123.228.14","collected":"2020-03-15
        00:52:42","recordType":"A","resolve":"oldertool.xyz","resolveType":"domain","recordHash":"7f9eb2c24ed4e31b0f59ddcb29d3ee7042559f1bb685054689537993d64265bd"},{"firstSeen":"2019-06-18
        05:01:41","lastSeen":"2019-09-11 01:49:52","source":["riskiq","virustotal","kaspersky"],"value":"195.123.228.14","collected":"2020-03-15
        00:52:42","recordType":"A","resolve":"yourzone.xyz","resolveType":"domain","recordHash":"5d830878c926cbe86581c7e966182831828aaffa728e28cfb49461ac525cc3e6"},{"firstSeen":"2020-03-11
        21:56:09","lastSeen":"2020-03-14 02:52:16","source":["riskiq","vi[...]
